:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-dark: #F2F2F2;
  --color-white-dark-hover: #EBEBEB;
  --color-white-dark-active: #E5E5E5;
  --color-grey-light: #EEEEEE;
  --color-grey-dark: #333333;
  --color-grey-click: #BDBBBC;
  --color-brown: #766357;
  --color-brown-hover: #604E43;
  --color-brown-click: #503E33;
  --color-blue: #81B3D2;
  --color-blue-hover: #669EC0;
  --color-blue-click: #5496BD;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  text-transform: uppercase;
}
.page {
  height: 100%;
}
.page-body {
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  min-height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1044px;
  margin: 0 auto;
  padding: 0 10px;
}
h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-black);
}
h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
a {
  color: var(--color-black);
  text-decoration: none;
}
a:visited {
  color: var(--color-grey-click);
  opacity: 0.3;
}
a:hover {
  color: var(--color-blue);
}
.head li, .detail-item li, .social {
  list-style-type: none;
}


/* head */
.head {
  width: 100%;
  z-index: 1;
}
.head nav{
  margin: 0 auto;
  width: 1060px;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.head ul, .head p {
  margin: 0;
  justify-self: center;
}
/* WELCOME */
.welcome {
  height: 650px;
  margin-top: -30px;

}
.welcome--bg {
  height: 650px;
  background-image: url(../img/background-sedona.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.img__welcome {
  padding-top: 77px;
}
.img__gorgeous {
  padding-top: 10px;
}
.img__sedona {
  padding-top: 54px;
}


/* ABOUT */

.about {
  width: 100%;
  display: block;
  padding: 42px 0px 52px;
  margin: 0 auto;
  text-align: center;

}

/* DETAIL-IMG */
.detail-img-left {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-bottom: 60px;
}
.detail-img-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;

}
.detail-img__block {
  background-color: var(--color-blue);
  padding: 47px 49px 54px;
  text-align: center;
  color: var(--color-white);
}
.detail-img__block p, .detail-img__block h3 {
  margin: 0px;
}

/* DETAIL-ITEM */
.detail-item {
  width: 100%;
}
.detail-item ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 82px;
}
.detail-item li{
  text-align: center;
}
.detail-item__details {
  background-color: var(--color-grey-light);
  padding: 47px 0px 54px;
  margin-bottom: 58px;
}

/* search – Заинтерисовались */
.search {
  display: block;
  width: 100%;
  text-align: center;
}

/* FOOTER*/
#map {
  height: 590px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.footer {
  width: 100%;
  margin: -120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.footer-catalog {
  margin: 0px auto 0;
}
.footer div {
  justify-self: center;
}



/****************** CATALOG.HTML ******************/
/* catalod VS filter */
.catalod-promo {
  height: 217px;
  margin-top: -10px;

}
.promo--bg {
  height: 217px;
  background-image: url(../img/background-catalog.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 26px;
  padding-bottom: 32px;
}

/* breadcrumbs */
.breadcrumbs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* hotel-list vs hotel-item */
.hotel-list {
  padding: 0;
}
.line {
  border-bottom: 1px solid var(--color-white-dark-active);
}
.hotel-item {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  column-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.hotel-title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}
.hotel-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}


.btn {
  border: none;
  padding: 3px 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white);
  text-transform: uppercase;
}
.btn-blue {
  background-color: var(--color-blue);
}
.btn-brown {
  background-color: var(--color-brown);
}
