:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-dark: #F2F2F2;
  --color-white-dark-hover: #EBEBEB;
  --color-white-dark-active: #E5E5E5;
  --color-grey-light: #EEEEEE;
  --color-grey-dark: #333333;
  --color-grey-click: #BDBBBC;
  --color-brown: #766357;
  --color-brown-hover: #604E43;
  --color-brown-click: #503E33;
  --color-blue: #81B3D2;
  --color-blue-hover: #669EC0;
  --color-blue-click: #5496BD;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  text-transform: uppercase;
}
.page {
  height: 100%;
}
.page-body {
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  min-height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1044px;
  margin: 0 auto;
  padding: 0 10px;
}
h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--color-black);
}
h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
a {
  color: var(--color-black);
  text-decoration: none;
}
a:visited {
  color: var(--color-grey-click);
  opacity: 0.3;
}
a:hover {
  color: var(--color-blue);
}
.head li, .detail-item li, .social {
  list-style-type: none;
}


/* head */
.head {
  width: 100%;
  z-index: 1;
}
.head nav{
  /* margin: 0 auto;
  width: 1060px;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center; */
  margin: 0 auto;
  width: 1060px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.head ul, .head p {
  margin: 0;
}
.head__menu {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 0;
}
.head__menu li:first-child {
  padding-right: 134px;
}
/* WELCOME */
.welcome {
  height: 650px;
  margin-top: -30px;

}
.welcome--bg {
  height: 650px;
  background-image: url(../img/background-sedona.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.img__welcome {
  padding-top: 77px;
}
.img__gorgeous {
  padding-top: 10px;
}
.img__sedona {
  padding-top: 54px;
}


/* ABOUT */

.about {
  width: 100%;
  display: block;
  padding: 42px 0px 52px;
  margin: 0 auto;
  text-align: center;

}

/* DETAIL-IMG */
.detail-img-left {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}
.detail-img-left img {
  max-width: 800px;
  height: 100%;
}
.detail-img-right {
  display: flex;
  width: 100%;
}
.detail-img__block {
  width: 100%;
  min-width: 310px;
  background-color: var(--color-blue);
  padding: 47px 49px 54px;
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-img__block--number {
  padding: 25px 0px 23px;
}
.detail-img__block p, .detail-img__block h3 {
  margin: 0px;
}
/* DETAIL-ITEM */
.detail-item {
  width: 100%;
}
.detail-item ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 82px;
  grid-gap: 100px;
  padding: 0px 10px 0px;
}
.detail-item ul li{
  max-width: 300px;
}
.detail-item li{
  text-align: center;
}
.detail-item__grey {
  background-color: var(--color-grey-light);
  padding: 47px 0px 54px;
  margin-bottom: 58px;
}
.detail-item__grey ul{
  margin-bottom: 0;
}

/* search – Заинтерисовались */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 568px;
  margin: 0 auto;
}
.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}
.search p {
  padding: 30px 0px 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.search button{
  background-color: var(--color-brown);
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 30px 0px;
}
.search button:hover{
  background-color: var(--color-brown-hover);
}

/* FOOTER*/
#map {
  height: 590px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.footer {
  width: 100%;
  margin: -120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0px;
}
.footer-catalog {
  margin: 0px auto 0;
}
.footer div {
  justify-self: center;
}
.footer h3, .footer p {
  margin: 0;
}
.footer div:nth-child(1) {
  text-align: center;
  padding-top: 3px;
}
.footer div:nth-child(2) {
  padding-top: 0px;
}
.footer div:nth-child(3) {
  padding-top: 23px;
}
.footer h3 {
  line-height: 26px;
  padding-bottom: 9px;
  color: var(--color-black);
}
.footer div:first-child p{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  justify-content: flex-start;
  gap: 10px 6px;
}
.social ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social a {
  background-color: var(--color-blue);
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.social a:hover {
  background-color: var(--color-blue-hover);
}
.social a:active {
  background-color: var(--color-blue-click);
}
.social-button:active path {
  fill: var(--color-white-dark-active);
}


.social a {
  margin: 0;
  padding: 0;
}
.footer__logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer__logo p:first-child {
  height: 26px;
}
.footer__link:hover path{
  fill: var(--color-blue);
}
.footer__link:active path{
  fill: var(--color-grey-click);
}


/****************** CATALOG.HTML ******************/
/* catalod VS filter */
.catalod-promo {
  height: 217px;
  margin-top: -10px;
}
.promo--bg {
  height: 217px;
  background-image: url(../img/background-catalog.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding-top: 26px;
  padding-bottom: 32px;

}
/* Filter */
.filter__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -10px;
  padding: 0;
}
.filter__item legend {
  padding-bottom: 25px;
}
.filter__item:nth-child(3) legend {
  padding-bottom: 15px;
}
.filter__item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 114px;
}
.filter__item:nth-child(3) {
  margin-left: 211px;
}
.filter__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none; /* Свойство user-select определяет, может ли пользователь выбрать текст в элементе, для которого это свойство задано.*/
  padding-left: 39px;
}
.filter__input-checkbox {

}
.filter__input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0px;
  padding-top: 5px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter__input-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}
.filter__input-checkbox:disabled + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E");
}
.filter__input-checkbox:disabled:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

label:hover {
  color: var(--color-blue);
}
input:disabled + label {
  color: var(--color-grey-click);
}

.catalod-promo fieldset {
  border: none;
  color: var(--color-white);
}

.catalod-promo fieldset legend{
  font-weight: bold;
  font-size: 16px;
}
.filter-cost {
  display: flex;
  width: 317px;
  border: 2px solid var(--color-white);
  padding: 5px 0;
  margin: 0;
}
.filter-cost label{
  padding: 0 5px 0 50px;
}
.filter-cost label:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  left: 150px;
  padding-top: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='22' viewBox='0 0 2 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='22' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
}
input[type='text']{
  color: var(--color-white);
  border: none;
  background: none;
  width: 40px;
}
.filter-cost-0{
  margin-right: 30px;
}
input[type='range'] {
  width: 317px;
  margin: 15px 0 20px;
}


/* breadcrumbs */
.breadcrumbs {
  display: grid;
  grid-template-columns: 135px 80px 1fr min-content;
  column-gap: 30px;
  padding: 29px 0 31px;
  font-size: 12px;
}
.breadcrumbs p{
  margin: 0;
}
.breadcrumbs__search-title {
  font-size: 21px;
  font-weight: bold;
}
.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.breadcrumbs-list__filter li:not(:last-child){
  padding-right: 35px;
}
.breadcrumbs-list__filter a{
  border-bottom: 1px dotted var(--color-blue-hover);
}
.breadcrumbs-list__filter li:first-child a {
  color: var(--color-blue-click);
  border-bottom: none;
}
.breadcrumbs-list__filter a:active {
  color: var(--color-blue-click);
}
.breadcrumbs-list__button li{
  width: 11px;
  height: 10px;
  background-color: red;
}
.breadcrumbs-list__button li:not(:last-child){
  padding-right: 12px;
}
.breadcrumbs-list__up {

}
/* hotel-list vs hotel-item */
.hotel-list {
  padding: 0;
}
.line {
  border-bottom: 1px solid var(--color-white-dark-active);
}
.hotel-item {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  column-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.hotel-item__description {
  display: flex;
  flex-direction: column;
}
.hotel-item__description h3 {
  padding-bottom: 6px;
}
.hotel-item__description p{
  margin: 0;
  padding-bottom: 10px;
}
.hotel-item__description div {
  margin: 0;
}
.hotel-title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}
.hotel-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
}
.hotel-price__type {
  width: 116px;
}


.btn {
  border: none;
  padding: 3px 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white);
  text-transform: uppercase;
}
.btn-blue {
  background-color: var(--color-blue);
}
.btn-blue:hover {
  background-color: var(--color-blue-hover);
}
.btn-blue:active {
  background-color: var(--color-blue-click);
  color: rgba(255, 255, 255, 0.3);
}
.btn-brown {
  background-color: var(--color-brown);
}
.btn-brown:hover {
  background-color: var(--color-brown-hover);
}
.btn-brown:active {
  background-color: var(--color-brown-click);
  color: rgba(255, 255, 255, 0.3);
}
.btn-white {
  padding: 6px 36px;
  background: none;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  font-weight: normal;
  margin: 0 auto;
}
.btn-white:hover {
  background-color: var(--color-white);
  color: var(--color-grey-dark);
}
