.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, max-content);
  grid-template-areas:
  "title1 img1 img1"
  "features1 features2 features3"
  "img2 img2 title2"
  "features4 features5 features6";
  text-align: center;
  @media (max-width: 320px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, max-content);
    grid-template-areas:
    "title1"
    "img1"
    "features1"
    "features2 "
    "features3"
    "title2"
    "img2"
    "features4"
    "features5"
    "features6";
  }
}
.gallery__item1-title {
  grid-area: title1;
}
@media (max-width: 320px) {
  .gallery__triangle {
    background-image: url(../img/triangle-white.svg);
    background-repeat: no-repeat;
    margin-top: -30px;
  }
  .gallery__blue:first-child {
    padding-top: 70px;
  }
}
.gallery__item2-img {
  grid-area: img1;
}
.gallery__item3-features {
  grid-area: features1;
  @media (max-width:320px){
    margin-top: 20px;
  }
}
.gallery__item4-features {
  grid-area: features2;
}
.gallery__item5-features {
  grid-area: features3;
  @media (max-width:320px){
    margin-bottom: 20px;
  }
}
.gallery__item6-img {
  grid-area: img2;
}
.gallery__item7-title {
  grid-area: title2;
}
.gallery__item8-features {
  grid-area: features4;
  @media (max-width:320px){
    margin-top: -10px;
  }
}
@media (max-width: 320px){
  .gallery__item8-features p:last-child {
    padding-bottom: 40px;
    border-bottom: 1px solid @color-grey-click;
  }
  .gallery__item9-features p:last-child {
    padding-bottom: 40px;
    border-bottom: 1px solid @color-grey-click;
  }
  .gallery__item10-features p:last-child {
    padding-bottom: 40px;
  }
}
.gallery__item9-features {
  grid-area: features5;
}
.gallery__item10-features {
  grid-area: features6;
}

.gallery__blue {
  background-color: @color-blue;
  color: @color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  @media (max-width: 768px) {
    padding: 42px 10px;
  }
}
.padding(@top: 15px; @block: 0px; @bottom: 30px) {
  padding: @top @block @bottom;
}
.gallery__text {
  .padding();
}
.gallery__img {
  width: 100%;
  object-fit: cover;
  @media (max-width: 320px) {
    height: 260px;
  }
}
.gallery__features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .padding(59px, 10px, 80px);
  @media (max-width: 768px) {
    .padding(50px, 10px, 60px);
  }
  @media (max-width: 320px) {
    flex-direction: row;
    align-items: center;
    gap: 10px 30px;
    text-align: left;
    .padding(10px, 10px, 10px);
    p:last-child {
      padding-left: 80px;
    }
    .gallery__img-house {
      padding-left: 20px;
      width: 36px;
      height: 39px;
    }
    .gallery__img-food {
      padding-left: 20px;
      width: 40px;
      height: 35px;
    }
    .gallery__img-souvenirs {
      padding-left: 20px;
      width: 32px;
      height: 38px;
    }
  }
}
.gallery__features h3 {
  .padding(30px);
  @media (max-width: 320px) {
    .padding(10px, 0px, 0px);
  }
}
.gallery__grey {
  background-color: @color-grey-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .padding(43px, 40px, 62px);
  @media (max-width: 768px) {
    .padding(42px, 20px, 42px);
  }
  @media (max-width: 320px) {
    .padding(50px, 20px, 0px);
  }
}
