.head {
  width: 100%;
  z-index: 1;
}
.head nav {
  margin: 0 auto;
  width: 1060px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.head ul, .head p {
  margin: 0;
}
.head__menu {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 0;
}
.head__menu li:first-child {
  padding-right: 134px;
}
