.welcome {
  height: 518px;
  margin-top: -38px;
  background-image: url(../img/back-desktop.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome__img {
  padding-top: 77px;
}
.welcome__img-gorgeous{
  padding-top: 8px;
}
.welcome__img-sedona {
  padding-top: 40px;
}
.welcome__img-reason {
  padding-top: 42px;
}
.welcome__img-triangle {
  background-image: url(../img/intro-triangle.svg);
  background-repeat: no-repeat;
  height: 60px;
  background-size: 100% 100%;
}
