.welcome {
  height: 650px;
  margin-top: -30px;

}
.welcome--bg {
  height: 650px;
  background-image: url(../img/background-sedona.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.img__welcome {
  padding-top: 77px;
}
.img__gorgeous {
  padding-top: 10px;
}
.img__sedona {
  padding-top: 54px;
}
